<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact - The Chow App</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="{{url_for("static", filename="css/bootstrap.min.css")}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/animate.min.css") }}">
    <link rel="stylesheet" href="{{url_for("static", filename="fontawesome/css/all.css") }}"> 
    <link rel="stylesheet" href="{{url_for("static", filename="css/owl.carousel.min.css")}}">
    <link rel="stylesheet" href="{{url_for("static", filename="css/owl.theme.default.min.css")}}">
    <link rel="stylesheet" href="{{url_for("static", filename="css/magnific-popup.css")}}">
    <link rel="stylesheet" href="{{url_for("static", filename="css/aos.css")}}">
    <link rel="stylesheet" href="{{url_for("static", filename="css/style.css")}}">
    <link rel="stylesheet" href="{{url_for("static", filename="css/navbars-offcanvas.css")}}">
    <link rel="stylesheet" href="{{url_for("static", filename="assets/dist/css/bootstrap.min.css")}}">

    <style>
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }


    @media (max-width: 768px) {
    .container {
      max-width: 720px; }
    
 
    .cont img{
        position: relative;
        right: 8%;
    }
      
    }
   
    </style>
</head>
<body>
      <!--  HEADER -->
      <main>
        <nav class="navbar bg-light" aria-label="Light offcanvas navbar">
            <div class="container-fluid">
                <span>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarLight" aria-controls="offcanvasNavbarLight">
                <span class="navbar-toggler-icon"></span>
                </button>&emsp;
                <a class="navbar-brand text-success" href="/">chow</a></span>
                <span>
                  <i class="fa-solid fa-cart-shopping text-success"></i><span></span id="cart">&emsp;
                    <button type="submit" class="btn btn-success">Log in</button>&emsp;
                    <button type="submit" class="btn btn-outline-success">Sign up</button>
                </span>
              
              <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbarLight" aria-labelledby="offcanvasNavbarLightLabel">
                <div class="offcanvas-header">
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for("about") }}">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for("contact")}}">Contact us</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="services.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="buffet.html">Buffet</a></li>
                        <li><a class="dropdown-item" href="#"></a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="outdoor.html">Outdoor Catering</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for("dashboard") }}">My Account</a>
                    </li>
                  </ul>
                  <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search in menu" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                </div>
              </div>
            </div>
          </nav>
    </main>

    <div class="container-fluid">
        <div class="row justify-content-center align-items-center cont">
            <div class="col-md-4 text-white">
                <h2 class="mt-3 ms-5 ps-5">It’s all here.<br>All in one app.</h2>
            <p class="text-white ps-5 ms-5">Discover local, on-demand delivery or Pickup from restaurants,
                nearby grocery and convenience stores, and more.</p>
                <div class="ms-5">
                <a href="#" class="btn btn-sm btn-success ms-5 pe-5">Get the mobile app</a>
                </div>
            </div>
            <div class="col-md-6 my-5 ms-5">
                <img src="static/images/cont.jpg" alt="" class="img-fluid"/>
            </div>
        </div>
        <section>
          <div class="row d-flex justify-content-center align-items-center">
            <h1 class="intro my-5 text-center">Contact</h1>
            <div class="col-md-5 ms-5 mt-5 ps-5">
              <h2 class="my-3 ms-5 ps-5">Location</h2>
              <p  class="text-black ms-5 ps-5"> 42 Wright Avenue<br>
                Pedro Hall, Gbagada Expressway<br>
                Phone: 234-817-855-5642<br>
                Fax: 234-457-4500<br>
                <span><legend>Open:</legend> Mondays - Saturdays 8:00 - 21:00 WAT</span><br><br>
              </p>
              <br>
              </div>
            <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.8150080495107!2d3.377184714718431!3d6.5450287952661235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8d0aa881ab41%3A0xe45f391706c488c2!2s14%20Olorunfunmi%20St%2C%20Pedro%20102216%2C%20Lagos!5e0!3m2!1sen!2sng!4v1668886089760!5m2!1sen!2sng" width="570" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            
        <section>
          <div class="row my-5 align-items-center mx-auto">
            <h2 class="intro text-center">SEND US A MESSAGE</h2>
            <form action="" method="post">
				{{ form.csrf_token }}
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				  {% for category, message in messages %}
					<div class="alert alert-{{ category }}">
					  {{ message}}
				  {% endfor %}
				{% endif %}
				
				{% endwith %}
              <div class="col-md-6 form-group mx-auto">                
                  <div class="form-group">
                    {% if form.fullname.errors %}
                              {{ form.fullname (class="is_invalid") }}
                                <div class="invalid-feedback">
                                  {% for error in form.fullname.errors %}
                                  <span>{{ error }}</span>
                                  {% endfor %}
                                </div>
                            </div>
                            {% else %}
                              {{ form.fullname (class="form-control my-3") }}
                            {% endif %}
                  </div>

                  <div class="form-group">
                    {% if form.phone.errors %}
                              {{ form.phone (class="is_invalid") }}
                                <div class="invalid-feedback">
                                  {% for error in form.phone.errors %}
                                  <span>{{ error }}</span>
                                  {% endfor %}
                                </div>
                            </div>
                            {% else %}
                              {{ form.phone (class="form-control my-3") }}
                            {% endif %}
                  </div>

                  <div class="form-group">
                    {% if form.mail.errors %}
                              {{ form.mail (class="is_invalid") }}
                                <div class="invalid-feedback">
                                  {% for error in form.mail.errors %}
                                  <span>{{ error }}</span>
                                  {% endfor %}
                                </div>
                            </div>
                            {% else %}
                              {{ form.mail (class="form-control my-3") }}
                            {% endif %}
                  </div>

                  <div class="form-group">
                    {% if form.message.errors %}
                              {{ form.message (class="is_invalid") }}
                                <div class="invalid-feedback">
                                  {% for error in form.message.errors %}
                                  <span>{{ error }}</span>
                                  {% endfor %}
                                </div>
                            </div>
                            {% else %}
                              {{ form.message (class="form-control my-3") }}
                            {% endif %}
                
                  <div class="text-center">
                    {{ form.submit (class="btn btn-success") }}
                  </div>
              </div>
            </form>
          </div>
        </section>




 <!--  FOOTER -->
    <div class="row mt-5 footer">
      <div class="col-md-12 text-center">

        <p class="text-black">
          Copyright &copy; <a href="https://www.yemi.dev" target="_blank">Yẹmi<i class="icon-heart color-danger" aria-hidden="true"> </i></a><script>document.write(new Date().getFullYear());</script>  | All rights reserved.
        </p>
      </div>


    <!-- loader -->
    <!--<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#198754"/></svg></div>
      <-->

</div>
<script src="{{url_for("static", filename="assets/dist/js/bootstrap.bundle.min.js")}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for("static", filename="js/bootstrap.min.js")}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for("static", filename="js/jquery.min.js")}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for('static', filename='js/jquery-migrate-3.0.1.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for("static", filename="js/jquery.stellar.min.js")}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for("static", filename="js/aos.js")}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for("static", filename="js/main.js")}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for("static", filename="js/jquery.easing.1.3.js")}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for("static", filename="js/jquery.waypoints.min.js")}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for("static", filename="js/owl.carousel.min.js")}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for("static", filename="js/jquery.magnific-popup.min.js")}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for("static", filename="js/scrollax.min.js")}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for("static", filename="js/script.js")}}"></script>
</body>
</html>