<div class="list-group list-group-flush my-3">
    
    <a href="/account" class="list-group-item list-group-item-action bg-success bg-hover second-text active">
        <i class="fas fa-tachometer-alt me-2"></i>New Order</a>

    <a href="/secret" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fa-sharp fa-solid fa-eye"></i>Go to Cart</a>

    <a href="/alltrips" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fa-sharp fa-solid fa-eye"></i>Past Orders </a>

    <a href="/logout" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
        <i class="fa-sharp fa-solid fa-power-off"></i> Logout</a>
</div>